extends layout
block head	
	
block content
	div#index
		h1 Welcome to the Node Quiz Game
		a(href='/host') Host a game
		a(href='/highscore') Highscore board
		a(href='/login') Login
		a(href='/register') Register