doctype html
html
	head
		title Node Quiz Game | #{title}
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
		link(rel='stylesheet', href='/css/screen.css', )
		block head
	body
		#container
			-function fixDate(date){
				-var d = date.getDate();
				-var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
				-var m = monthNames[date.getMonth()];
				-var y = date.getFullYear();
				-return d+' '+m;
			-}
		
			block content