extends layout
block head	
	
block content
	div#form-box
		ul.tabs
			li
				a(href='/login', class='active') Login
			li
				a(href='/register') Register
		div.form-action
			h1 Login
			p Login to view your profile or to join a game
			form(action='login', method='post')
				ul
					li
						input(type='text', name='username', placeholder='Username')
					li
						input(type='password', name='password', placeholder='Password')
					li
						input(type='submit', value='Login')
